.home .content {
    width: 30%;
}


.content {
    width: 50%;
}

img {
  width: 100%;
  height: auto;
}


li, ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}


.posts {
  margin-bottom: 40px;
}
